USE [master]
GO
/****** Object:  Database [SelfServicePOS]    Script Date: 13-01-2022 14:08:41 ******/
CREATE DATABASE [SelfServicePOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SelfServicePOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SelfServicePOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SelfServicePOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SelfServicePOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SelfServicePOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SelfServicePOS]
GO
/****** Object:  Table [dbo].[POSTransaction]    Script Date: 13-01-2022 14:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTransaction](
	[POSTransId] [int] IDENTITY(1,1) NOT NULL,
	[POSTimestamp] [datetime] NULL,
	[InvoiceNumber] [int] NULL,
	[CustomerNumber] [bigint] NULL,
	[ProductNumber] [bigint] NULL,
	[Quantity] [int] NULL,
	[UnitNetPrice] [float] NULL,
 CONSTRAINT [PK_POSTransaction] PRIMARY KEY CLUSTERED 
(
	[POSTransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 13-01-2022 14:08:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductNumber] [bigint] NOT NULL,
	[ProductName] [nvarchar](20) NOT NULL,
	[Price] [money] NULL,
	[ImageFileName] [nvarchar](20) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
