<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="LogoPath" value="C:\Program Files\POS\images\logo.png"/>
		<add key="ProductPath" value="C:\Program Files\POS\images\"/>
		<add key="CashRegSoundPath" value="C:\Program Files\POS\sound\ka-ching.wav"/>
		<add key="EconAgreementGrantToken" value="kHG9MNdj2TXFHyyQwgKc32kHcupoN4oxCqxTCwA44hM1"/>
		<add key="EconAppSecretToken" value="PV6zQF1QfiVHfEtYsEqcCYadmtr3dVn2Yt3M6qFX9jA1"/>
		<add key="Exitcode" value="4432"/>
	</appSettings>
	<connectionStrings>
		<add name="SelfServicePOS"  connectionString="server=KLJU-SPEC-W10;Initial Catalog=SelfServicePOS;User ID=sa;Password=SQLsa07012022!"/>
	</connectionStrings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="EconomicWebServiceSoap">
     <security mode="Transport" />
    </binding>
    <binding name="EconomicWebServiceSoap1" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="https://api.e-conomic.com/secure/api1/EconomicWebService.asmx"
    binding="basicHttpBinding" bindingConfiguration="EconomicWebServiceSoap"
    contract="econSoap.EconomicWebServiceSoap" name="EconomicWebServiceSoap" />
  </client>
 </system.serviceModel>
</configuration>